$bg-color1: #e5e5e5;
$bg-color2: #274a68;
$border-color: #ccc;
$txt-color: #fff;
$txt-color2: #000;

//Text color
$txt-color-job-list: #c4c4c4;
$txt-color-job-address: #3f4042;
$txt-color-search-bar: #9f9fa0;
$txt-color-search-lens: #898989;
//border colors
$border-color1: #d8d9db;
$border-color2: green;

$border-list-separation: 1px solid #dddee0;
