.row {
  display: flex;
  justify-content: space-between;
}
.grid-common-class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
