$gap-var1:0;
$gap-var2:5px;
$gap-var3:10px;
$gap-var4:20px;
$gap-var5:32px;

//height and distance variables
$dist-top:70px;

//radius and border variables
$radius:8px;
$border:1px;
$shadow-border:2px;