<div class="page-container">
  <div class="page-header">
    <div class="header-bar">
      <div class="group-title">
        <div class="title">
          <span class="logo-image"
            ><img
              src="../../../assets/images/students-logo.svg"
              alt="Logo image"
          /></span>
        </div>
      </div>
      <div class="header-menu-bar" fxHide="true" fxShow.lt-sm>
        <i class="fa fa-bars"></i>
      </div>
    </div>

    <div class="content">
      <div class="search-bar">
        <i class="fa fa-search searchIcon"></i>
        <input
          class="searchBox"
          type="search"
          name="search"
          placeholder="Search Job"
        />
      </div>
      <div class="subtitle-text">
        <div class="text-left">
          <p>Showing Todays jobs</p>
        </div>
        <div class="text-right">
          <p>23 may,2019</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="5px"
  fxLayoutMargin="10px"
  fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let student of students">
    <app-card
      [student]="student"
      (cardClicked)="cardClicked($event)"
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    ></app-card>
  </ng-container>
</div>
