@import "../../../assets/styles/base/variables.scss";
@import "../../../assets/styles/base/colors.scss";
@import "../../../assets/styles/base/commons.scss";
:host {
  font-family: "Poppins";
  .container {
    background-color: $bg-color1;
    padding: $gap-var3;
  }
  .page-container {
    .page-header {
      align-items: center;
      background: url(../../../assets/images/Group3.png);
      color: $txt-color;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .header-bar {
        align-items: center;
        display: flex;
        width: 90%;
        .group-title {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex: 1;
          margin: 20px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 90%;
        .search-bar {
          background-color: white;
          display: inline-flex;
          border: 1px solid #ccc;
          border-radius: $gap-var6;
          font-family: Karla;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: $txt-color-search-bar;
          .searchIcon {
            color: $txt-color-search-lens;
            padding: 0.5rem;
          }
          .searchBox {
            border: $gap-var1;
            padding: $gap-var2 $gap-var4 $gap-var2 $gap-var2;
          }
        }

        .subtitle-text {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .header-content > div {
      margin: $gap-var3;
    }
  }
}
