@import "../../../assets/styles/base/variables.scss";
@import "../../../assets/styles/base/colors.scss";
@import "../../../assets/styles/base/commons.scss";

:host {
  border: $border solid $border-color1;
  border-radius: $radius;
  background-color: $txt-color;
  display: block;
  margin-bottom: $gap-var3;
  padding: $gap-var3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  .grid-container {
    display: flex;
    .grid-left {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: $txt-color-job-list;
      border-right: $border-list-separation;
      width: 30%;
      margin-left: 10px;
      @extend .grid-common-class;
    }
    .grid-right {
      align-items: flex-end;
      font-family: "Karla";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $txt-color-job-address;
      margin-left: 40px;
      @extend .grid-common-class;
      .location-icon {
        text-align: center;
      }
    }
  }
}
