<div class="grid-container" (click)="onClickEvent(student.id)">
  <div class="grid-left">
    <div>
      {{ student.firstname }}
    </div>
    <div>
      {{ student.lastname }}
    </div>
  </div>
  <div class="grid-right">
    <div class="line1">
      <span class="location-icon">
        <img src="../../../assets/images/location.png" alt="" />
        {{ student.address.line1 }}<br /><span style="text-align: center;">{{
          student.address.line2
        }}</span></span
      >
    </div>
  </div>
</div>
