@import "../../../assets/styles/base/variables.scss";
@import "../../../assets/styles/base/colors.scss";
@import "../../../assets/styles/base/commons.scss";
:host {
  .card-detail-container {
    background-color: $txt-color;
    box-shadow: $shadow-border $shadow-border $gap-var2 $gap-var1
      rgba(50, 50, 50, 0.75);
    border: $border solid $border-color1;
    border-radius: $radius;
    margin-top: $gap-var4;

    .contact-details {
      .contact-number input {
        border: 0;
      }
      .student-name {
        @extend .row;
        align-items: baseline;
        display: flex;

        .update-hours {
          background: $bg-color2;
          border: $shadow-border solid $bg-color2;
          border-radius: $gap-var4;
          padding: $gap-var2;
          .button-text {
            color: $txt-color;
            padding: $gap-var4;
          }
        }
      }
      .student-worked-hours {
        @extend .row;
      }
      .info {
        border-bottom: $border solid $border-color;
        padding: $gap-var3;
      }
      .info-item {
        padding: $gap-var2;
      }
    }
    .details-right {
      display: flex;
      .update-hours {
        background: none;
        border: $border solid $border-color2;
        border-radius: $gap-var2;
        .button-text {
          padding: $gap-var4;
        }
      }
    }
  }
}
