@import "../../../assets/styles/base/variables.scss";
@import "../../../assets/styles/base/colors.scss";
@import "../../../assets/styles/base/commons.scss";
:host {
  .card-detail-container {
    background-color: $txt-color;
    box-shadow: $shadow-border $shadow-border $gap-var2 $gap-var1
      rgba(50, 50, 50, 0.75);
    border: $border solid $border-color1;
    border-radius: $radius;
    margin-top: $gap-var4;

    .contact-details {
      .contact-number input {
        border: 0;
        font-family: 'Karla';
        font-size: 14px;
        color: #777777;
      }
      .student-name {
        @extend .row;
        align-items: baseline;
        display: flex;
        font-size: 18px;
        color: #3D3D3D;
        .update-hours {
          font-family:'Karla';
          background: #369BF9;
          border: $shadow-border solid #369BF9;
          border-radius: $gap-var4;
          padding: $gap-var2;
          .button-text {
            color: $txt-color;
            padding: $gap-var4;
          }
        }
      }
      .student-worked-hours {
        @extend .row;
        .hours-text{
          font-size: 18px;
          color: #C4C4C4;
          font-family: 'Poppins';
        }        
      }
      .student-designation-change{
        span.info-item{
          font-family: 'Roboto';
          font-size: 12px;
          color: #777777;
          text-transform: capitalize;
        }
      }
      .info {
        border-bottom: $border solid #e9e9e9;
        padding: $gap-var3;
      }
      .info-item {
        padding: $gap-var3;
      }
    }
    .details-right {
      display: flex;
      .update-hours {
        background: none;
        border: $border solid $border-color2;
        border-radius: $gap-var2;
        .button-text {
          padding: $gap-var4;
        }
      }
    }
  }
}
