@import "../../../assets/styles/base/variables.scss";
@import "../../../assets/styles/base/colors.scss";
$height:30px;
$font:12px;
$width:50%;
$color:#ddd;
:host {
  .toggler {
    display: inline-block;
    height: $height;
    background: $txt-color;
    width: 200px;
    border: solid $border $color;
    position: relative;
    .toggle_input {
      display: none;
    }

    .toggle_label {
      float: left;
      width: $width;
      font-size: $font;
      line-height: $height;
      color: $txt-color2;
      text-align: center;
      cursor: pointer;
      position: inherit;
      z-index: 10;
      transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    .toggle_switch {
      position: absolute;
      float: left;
      height: $height;
      width: $width;
      font-size: $font;
      line-height: $height;
      cursor: pointer;
      background-color: #3366cc;
      left: $gap-var1;
      transition: left 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    .toggle_input:checked + .toggle_label {
      color: $txt-color;
    }

    .toggle_input--nodriver:checked ~ .toggle_switch {
      left: 100px;
    }
  }
}
